In [273]:
import pandas as pd
import numpy as np

In [274]:
credits_df= pd.read_csv('credits.csv')
movieslist_df= pd.read_csv('movies.csv')

In [275]:
credits_df.shape

(4803, 4)

In [276]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [277]:
movieslist_df.shape

(4803, 20)

In [278]:
movieslist_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [279]:
movies_df = pd.merge(movieslist_df, credits_df, on='title', how='inner')

In [280]:
movies_df.shape

(4808, 23)

In [281]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [282]:
movies_df = movies_df[['title', 'genres', 'overview', 'vote_average', 'cast', 'crew']]

In [283]:
movies_df.head()

,title,genres,overview,vote_average,cast,crew
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...",7.2,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...",6.9,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,6.3,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,7.6,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...",6.1,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [284]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4808 entries, 0 to 4807
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         4808 non-null   object
 1   genres        4808 non-null   object
 2   overview      4805 non-null   object
 3   vote_average  4808 non-null   float64
 4   cast          4808 non-null   object
 5   crew          4808 non-null   object
dtypes: float64(1), object(5)
memory usage: 225.5+ KB

In [285]:
movies_df.describe()

       vote_average
count   4808.000000
mean       6.092824
std        1.193919
min        0.000000
25%        5.600000
50%        6.200000
75%        6.800000
max       10.000000

DATA CLEANING

In [286]:
movies_df.isnull().sum()

title           0
genres          0
overview        3
vote_average    0
cast            0
crew            0
dtype: int64

In [287]:
movies_df.dropna(inplace=True)

In [288]:
movies_df.isnull().sum()

title           0
genres          0
overview        0
vote_average    0
cast            0
crew            0
dtype: int64

In [289]:
movies_df.duplicated().sum()

np.int64(0)

In [290]:
movies_df.iloc[0]

title                                                      Avatar
genres          [{"id": 28, "name": "Action"}, {"id": 12, "nam...
overview        In the 22nd century, a paraplegic Marine is di...
vote_average                                                  7.2
cast            [{"cast_id": 242, "character": "Jake Sully", "...
crew            [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [291]:
# Convert genres, cast, and crew Columns into lists
import ast

def extract_genres(x):
    genres = []
    if x:
        for i in ast.literal_eval(x):
            genres.append(i['name'])
    return genres

def extract_cast(x):
    cast = []
    if x:
        for i in ast.literal_eval(x)[:3]:  # Top 3 actors
            cast.append(i['name'])
    return cast

def extract_director(x):
    directors = []
    if x:
        for i in ast.literal_eval(x):
            if i['job'] == 'Director':
                directors.append(i['name'])
    return directors

In [292]:
movies_df['genres'] = movies_df['genres'].apply(extract_genres)
movies_df['cast'] = movies_df['cast'].apply(extract_cast)
movies_df['crew'] = movies_df['crew'].apply(extract_director)

In [293]:
movies_df = movies_df.rename(columns={'crew': 'director'})
movies_df = movies_df.rename(columns={'vote_average': 'votes'})

In [294]:
# Convert 'genres' and 'cast' columns to strings if they're in list format
movies_df['genres'] = movies_df['genres'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)
movies_df['cast'] = movies_df['cast'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)
movies_df['director'] = movies_df['director'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

In [295]:
# Convert all columns with string data to lowercase
movies_df = movies_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\user\AppData\Local\Temp\ipykernel_2796\257969576.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  movies_df = movies_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [296]:
movies_df.head()

,title,genres,overview,votes,cast,director
0,avatar,action adventure fantasy science fiction,"in the 22nd century, a paraplegic marine is di...",7.2,sam worthington zoe saldana sigourney weaver,james cameron
1,pirates of the caribbean: at world's end,adventure fantasy action,"captain barbossa, long believed to be dead, ha...",6.9,johnny depp orlando bloom keira knightley,gore verbinski
2,spectre,action adventure crime,a cryptic message from bond’s past sends him o...,6.3,daniel craig christoph waltz léa seydoux,sam mendes
3,the dark knight rises,action crime drama thriller,following the death of district attorney harve...,7.6,christian bale michael caine gary oldman,christopher nolan
4,john carter,action adventure science fiction,"john carter is a war-weary, former military ca...",6.1,taylor kitsch lynn collins samantha morton,andrew stanton

In [297]:
# Combine 'overview', 'genres', 'cast', and 'director' into a single 'combined' column
movies_df['tags'] = (
    movies_df['overview'].fillna('') + ' ' +
    movies_df['genres'].apply(lambda x: ' '.join(x)) + ' ' +
    movies_df['cast'].apply(lambda x: ' '.join(x)) + ' ' +
    movies_df['director'].apply(lambda x: ' '.join(x))
)

In [298]:
movies_df.head()

,title,genres,overview,votes,cast,director,tags
0,avatar,action adventure fantasy science fiction,"in the 22nd century, a paraplegic marine is di...",7.2,sam worthington zoe saldana sigourney weaver,james cameron,"in the 22nd century, a paraplegic marine is di..."
1,pirates of the caribbean: at world's end,adventure fantasy action,"captain barbossa, long believed to be dead, ha...",6.9,johnny depp orlando bloom keira knightley,gore verbinski,"captain barbossa, long believed to be dead, ha..."
2,spectre,action adventure crime,a cryptic message from bond’s past sends him o...,6.3,daniel craig christoph waltz léa seydoux,sam mendes,a cryptic message from bond’s past sends him o...
3,the dark knight rises,action crime drama thriller,following the death of district attorney harve...,7.6,christian bale michael caine gary oldman,christopher nolan,following the death of district attorney harve...
4,john carter,action adventure science fiction,"john carter is a war-weary, former military ca...",6.1,taylor kitsch lynn collins samantha morton,andrew stanton,"john carter is a war-weary, former military ca..."

In [299]:
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [300]:
lemmatizer = WordNetLemmatizer()

In [301]:
import string

def lemmatization(tags):
    words = []
    for word in tags.split():
        # Lemmatize the word and remove punctuation
        word = word.strip(string.punctuation)
        words.append(lemmatizer.lemmatize(word))
    return ' '.join(words)

movies_df['tags'] = movies_df['tags'].apply(lemmatization)

In [302]:
# Term Frequency-Inverse Document Frequency 
from sklearn.feature_extraction.text import TfidfVectorizer

In [303]:
vectorizer = TfidfVectorizer(stop_words='english') #removes common English words (like "the", "is", "in", etc.)

# Fit and transform the 'tags' column into numerical vectors
tfidf_matrix = vectorizer.fit_transform(movies_df['tags']).toarray()

# to see how many features we’ve got
tfidf_matrix.shape

(4805, 18915)

In [304]:
from sklearn.metrics.pairwise import cosine_similarity

# Calculate the cosine similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [305]:
def get_similar_movies(title, cosine_sim=cosine_sim):
    
    title = title.lower()

    # Find the index of the movie in the dataset, if it exists
    if title in movies_df['title'].str.lower().values:
        idx = movies_df[movies_df['title'].str.lower() == title].index[0]
    else:
        print("Movie not found in the dataset.")
        return
    
    # Get the similarity scores of all movies with the input movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the movies based on similarity scores (highest first)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the top 5 most similar movies (skip the first one, because it's the movie itself)
    top_movies = sim_scores[1:6]
    
    # Extract movie titles of the top 5 most similar movies
    for i in top_movies:
        print( movies_df['title'].iloc[i[0]])

ordinary people
love me tender
hanging up
the good guy
from a whisper to a scream

In [309]:
def get_top_movies_with(genre=None, actor=None, director=None, num_recs=10):
    # Start with all movies
    filtered_movies = movies_df

    # Filter by genre if provided
    if genre:
        filtered_movies = filtered_movies[filtered_movies['genres'].str.contains(genre.lower())]

    # Filter by actor if provided
    if actor:
        filtered_movies = filtered_movies[filtered_movies['cast'].str.contains(actor.lower())]

    # Filter by director if provided
    if director:
        filtered_movies = filtered_movies[filtered_movies['director'].str.contains(director.lower())]

    # If no movies are found after all filters, return an empty list
    if filtered_movies.shape[0] == 0:
        return "No Movies Found"

    # Sort by ratings in descending order
    filtered_movies = filtered_movies.sort_values(by='votes', ascending=False)

    # Return the top N movie titles
    return filtered_movies['title'].head(num_recs)

OUTPUTS

In [307]:
# get movie recommendations similar to the one provided
get_similar_movies("twilight")

the twilight saga: new moon
the twilight saga: eclipse
black swan
edward scissorhands
little boy

In [310]:
# get movie recommendations with given filter
get_top_movies_with(actor="tom cruise")

74                          edge of tomorrow
1814                                rain man
156                         the last samurai
912               interview with the vampire
275                          minority report
1480                          a few good men
134       mission: impossible - rogue nation
650                           eyes wide shut
714                               collateral
153     mission: impossible - ghost protocol
Name: title, dtype: object